/* Pantalla de carga */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4CAF50;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash-screen img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
